{% extends 'main/source.html' %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="containerAll">
    <div class="a">
        <div class="iphones1">
            <img src="../../static/main/images/iphone1_back.png">
            <img src="../../static/main/images/iphone1_front.png" class="aa">
        </div>
        <div class="a_text" id="atext">
            <h1>Productivity for the busy Executive and Executive Assistant</h1>
            <p>
                Emmre is the first and only software created specifically to enable
                you, the busy executive or exectuive assistant to do the things
                that only you can do!
            </p>
            <a href="#">JOIN BETA</a>
            <a href="#"> UPDATES </a>
        </div>
    </div>

    <div class="b">
        <h1>Communicate, Organize, and Prioritize</h1>
        <div class="b_1">
            <div class="b_1_1">
                <h2>Peace of Mind</h2>
            </div>
            <div class="b_1_2">
                <div class="b_1_Img">
                    <img src="../../static/main/images/Dash_Task_lft%20(1).png" alt="">
                </div>
                <div class="b_1_P">
                    <p>Since it’s just the two of you, you can seamlessly collaborate with peace of mind.<br>
                    Emmre is exclusively for your working relationship so you can be sure of confidentiality,
                        not missing critical communication, and the ability to quickly respond.</p>
                </div>
            </div>
        </div>
        <div class="b_2">

             <div class="b_2_1">
                <h2>Nothing falls through the cracks</h2>
            </div>
            <div class="b_2_2">
                <div class="b_2_Img">
                    <img src="../../static/main/images/Tasks_Dash_cnt.png" alt="">
                </div>
                <div class="b_2_P">
                    <p>Emmre is your one-stop-shop to know where to look for what
                        needs to get done, by who, for when, and what’s the priority. <br>
                    You can see what's on each other’s plates and provide visibility
                        to each other to ensure nothing falls through the cracks!</p>
                </div>
            </div>

        </div>
        <div class="b_3">
             <div class="b_3_1">
                <h2>Nothing falls through the cracks</h2>
            </div>
            <div class="b_3_2">
                <div class="b_3_Img">
                    <img src="../../static/main/images/View_Task_rt%20(1).png" alt="">
                </div>
                <div class="b_3_P">
                    <p>Emmre is your one-stop-shop to know where to look for what
                        needs to get done, by who, for when, and what’s the priority. <br>
                    You can see what's on each other’s plates and provide visibility
                        to each other to ensure nothing falls through the cracks!</p>
                </div>
            </div>
        </div>
    </div>


</div>
    


{% endblock %}