.navbar .btn {
    background-color: #ff7878;
    padding: 5px 15px 5px 15px;
    border-radius: 17px;
}
.navbar a{
    float: right;
    display: block;
    text-align: center;
    padding: 5px 30px 0px 0px;
    text-decoration: none;
    font-size: 17px;
    height: 40px;
    margin: 5px;

}
.navbar ul {
    margin: 5px;
    padding: 0 0 0 0;
    list-style: none;
}
.navbar a:hover {
    background-color: #ddd;
    border-radius: 17px;
    color: #000;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
}
